
@{
    ViewBag.Title = "DetailsList";
}

<h2>Show the Details I entered</h2>

<div>
    <label>
        Name:
    </label>
    @ViewData["cName"];
</div>
<div>
    <label>
       Company Name:
    </label>
    @ViewData["cCompany"];
</div>



